html {
    font-size: 12px;
}
body{
    background-color: aliceblue;
    color: black;
}
p{
    font-size: 1.2rem;
}
/* ******* TOP BAR  ***** */
.topbar{
    /* position: fixed;
    max-height: 20px; */
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    height: 100%;
}
.topbarlink{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 5px;
    text-align: center;
}
.helpingLink{
    margin: 0 20px;
}
.topIcon{
    margin-left: auto;
}
.iconRight{
    padding: 0 10px;
}
.topbarlink:visited{
    color: black;
}
.topbarlink:hover{
    color: magenta;
    border-radius: 5px;
}

.searchbar{
    border: none;
    height: 30px;
    /* width: 500px; */
    width: 70%;
    max-width: 500px;
    /* font: 200; */
    /* padding-left: 40px; */
}

.searchbar:focus{
    border: none;
    outline-width: 0;
}
.searchform{
    flex-grow: 2;
    border: 1px solid black;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    /* min-height: 50px; */
    flex-direction: row-reverse;
}
.submitbutton{
    background-color: rgba(1, 1, 1, 0);
    border: 0px;
}
.searchicon{
    width: 50%;
}
.navbar{
    background-color: white;
    transform: translateY(-1000%);
    position: absolute;
    padding: 10px 30px;
    border: 1px solid rgba(169, 169, 169, 50%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.navbarul{
    list-style-type: none;
    padding-left: 0;
}
.navbarul > a{
    text-decoration: none;
}
.navlink{
    padding:15px;
}
.nav-container:hover .navbar {
    transform: translateY(0); /* when parent is hovered */
}


/* *******    box  **********  */
.header-container{
    background-color: #f8f9fb    ;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
}
.header-text{
    align-self: center;
    justify-self: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    margin: 20px;
    padding: 40px;
}
.header-text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*  COURSES */
.carousel-control-next, .carousel-control-prev{
    background-color:black;
    padding: 20px;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
}
.courses-tabs{
    margin-top: 20px;
    margin-left: 50px;
    overflow: auto;
}
.courses-tabs:focus{
    outline: none;
    color: black;
}
.tablinks{
    background-color: inherit;
    border: none;
    font-size: 15px;
    font-weight: bold;   
    color: #6a6f73;
}
.tablinks:hover{
    color: black;
}
.tablinks.active{
    color:black;
}
.courses-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.courses-border{
    
    padding: 5px;
    margin: 40px 50px;
    /* margin-top: 40px; */
    border: 1px solid #d1d7dc;
}
.useless{
    padding:30px;
    max-width: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.course{
    max-height: max-content;
    height: 400px;
    max-width: 275px;
    margin: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
/* .course-card{
    max-height: max-content;
    height: 400px;
    max-width: 275px;
    margin: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
} */
.course-text{
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: black;
}
/*
.course img{
    height: 200px;
}
*/
.instructorName{
    font-size: small;
    color: #6a6f73;
}
.course a{
    text-decoration: none;
}
.course a:visited .instructorName{
    color: #6a6f73;
}
.course a:visited{
    color: black;
}
.checked , .fa-star-half-o{
    color: orange;
  }
.rating{
    color: orange;
    font-size: large;
}
/* .header{
    background-image: url("assets/bell_banner.jpg");
} */
/***  TOP CATEGORIES *****/

#top-categories a{
    text-decoration: none;
}
#top-categories a:visited{
    color: black;
}
#top-categories a:hover{
    color: black;
    text-decoration: none;
}
.top-category{
    margin: 20px;
    border:none;
    background-color: inherit;
    transition: transform .2s;
}
.top-category img{
    /* width:250px; */
    width: auto;
}
.top-category:hover {
    transform: scale(1.1); 
}
/* media queires  */
.categories-tiles{
    /* transform: translateY(-1000);  */
    background-color: white;
    border: none;
}
@media screen and (min-width: 800px){
    .categories-tiles{
        display: none;
    }
}

@media screen and (max-width:950px){
    .teach{
        display: none;
    }
}
@media screen and (max-width:600px){
    .useless{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .courses-container {
      flex-direction: column;
      align-items: center;
    }
    .teach, .learning, .searchform, .heart, .bell, .account, .categories{
        display: none;
    }
    .udemy{
        order: 1;
        margin: auto;

    }
    .topIcon{
        order: 2;
    }
    .categories-tile 
    {
        display: block;
        margin-left: 20px;
        /* transform: translateY(0);  */
    }
    .nav-container:focus .navbar {
        transform: translateY(0); 
    }
    .navbar{
        height: 100%;
    }

} 