body{
    background-color: aliceblue;
}
/* ******* TOP BAR  ***** */
.topbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    height: 100%;
}
.topbarlink{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 5px;
    text-align: center;
}
.helpingLink{
    margin: 0 20px;
}
.topIcon{
    margin-left: auto;
}
.iconRight{
    padding: 0 10px;
}
.topbarlink:visited{
    color: black;
}
.topbarlink:hover{
    color: magenta;
    border-radius: 5px;
}

.searchbar{
    border: none;
    height: 30px;
    width: 500px;
    max-width: 500px;
    font: 200;
    /* padding-left: 40px; */
}

.searchbar:focus{
    border: none;
    outline-width: 0;
}
.searchform{
    border: 1px solid black;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    /* min-height: 50px; */
    flex-direction: row-reverse;
}
.submitbutton{
    background-color: rgba(1, 1, 1, 0);
    border: 0px;
}
.searchicon{
    width: 50%;
}
.navbar{
    transform: translateY(-1000%);
    position: absolute;
    padding: 10px 30px;
    border: 1px solid rgba(169, 169, 169, 50%);
}
.navbarul{
    list-style-type: none;
    padding-left: 0;
}
.navbarul > a{
    text-decoration: none;
}
.nav-container:hover .navbar {
    transform: translateY(0); /* when parent is hovered */
}

/* *******    box  **********  */
.header-container{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
}
.header-text{
    align-self: center;
    justify-self: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    margin: 20px;
    padding: 40px;
}
.header-text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}